*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/* Light theme */
body.light{
  background-color: white;
  color: black;
}

/* Dark theme */
body.dark {
  background-color: #121212;
  color: #ffffff;
}