.about {
  padding: 10px;
  padding-top: 20px;
}

.about p{
  font-size: 18px;
  line-height: 1.8;
}

.light-about p{
  color: black;
}

.dark-about p{
  color: var(--text-color);
  background-color: var(--primary-color);
}