.navbar{
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  gap: 40px;
  padding: 20px;
  margin-top: 10px;
  z-index: 1000;
  cursor: pointer;
  border: 2px solid rgb(4, 67, 69);
  position: sticky;
  top: 10px;
}

.nav-link {
  color: black;
  font-weight: semi-bold;
  font-size: larger;
  background-color: var(--primary-color);
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 5px white;
}

.active-link {
  color: #f8fafc;
}

.theme-btn {
}