.navbar{
  background-color: rgb(2, 126, 102);
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  gap: 40px;
  padding: 20px;
  margin-left: 30px;
  margin-top: 10px;
  z-index: 1000;
  cursor: pointer;
  border: 2px solid rgb(4, 67, 69);
  border-radius: 20px 0px 0px 20px;
  position: sticky;
  top: 10px;
}

.nav-link {
  color: white;
  font-weight: semi-bold;
  font-size: larger;
  background-color: rgb(2, 126, 102);
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  text-shadow: 5px 5px 5px rgb(1, 4, 4);
}

.active-link {
  color: rgb(221, 221, 28);
  border: 2px solid rgb(4, 67, 69);
  border-radius: 5px;
  background-color: white;
  padding: 2px 15px 2px 15px;
  color: black;
  text-shadow: none;
  box-shadow: 3px 3px 5px black;
}